<ion-header>
  <ion-toolbar>
    <ion-title>PRE GAME</ion-title>

    <ion-button
    *ngIf="owner"
    color="danger" fill="solid"
    (click)="delete()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>Delete session
    </ion-button>
  
    <ion-button
    *ngIf="!owner"
    color="danger" fill="solid"
    (click)="quit()">
      <ion-icon slot="icon-only" name="close"></ion-icon>Quit
    </ion-button>
  
    <ion-button
    *ngIf="owner"
    color="success" fill="solid"
    (click)="ready()">
      <ion-icon slot="icon-only" name="play"></ion-icon>Ready
    </ion-button>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="room-card">
    <ion-card-content>
      <div class="room-card-content">
        ROOM CODE
        <br>
        {{sessionId}}
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let player of players" class="player-card">
    <ion-card-content>
      <ion-avatar class="player-avatar" [ngStyle]="{'background-color': player.color}">
        <img src="assets/icon/bulk-logo.png">
      </ion-avatar>
      <ion-label>{{player.username}}</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>