<ion-header>
  <ion-toolbar>
    <ion-title>
      CATEGORY
    </ion-title>
    <div *ngIf="this.authService.hasToken()
    &&!this.authService.hasTokenExpired()" slot="end">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let category of categories">
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  {{category.name}}
                </ion-col>
                <ion-col>
                  <div *ngIf="category.isPublic == false;then private else public"></div>
                  <ng-template #private>Private</ng-template>
                  <ng-template #public>Public</ng-template>
                </ion-col>
                <ion-col>
                  <div *ngIf="category.language == 0">English</div>
                  <div *ngIf="category.language == 1">French</div>
                  <div *ngIf="category.language == 2">German</div>
                </ion-col>
                <ion-col>
                  <div ng-repeat="item in category.questions | filter:query as filtered"></div>
                  <ion-button *ngIf="category.questions.length == 0" color="success" fill="solid" (click)="editQuestions(category.categoryId)">Add questions</ion-button>
                  <div *ngIf="category.questions.length == 1">{{category.questions.length}} question</div>
                  <div *ngIf="category.questions.length > 1">{{category.questions.length}} questions</div>
                  <ion-button *ngIf="category.questions.length > 0" color="primary" fill="solid" (click)="editQuestions(category.categoryId)">Edit questions</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="danger" fill="solid" (click)="deleteCategory(category.categoryId)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                  <ion-button color="primary" fill="solid" (click)="editCategory(category.categoryId)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="success" fill="solid" (click)="addCategory()">New category</ion-button>
</ion-content>
