<ion-header>
  <ion-toolbar>
    <ion-title>
      Category
    </ion-title>
    <div *ngIf="this.authService.hasToken()" slot="end">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row col-6 *ngFor="let category of categories">
        <ion-col >
          {{category.name}}
        </ion-col>
        <ion-col >
          questions count
       </ion-col>
        <ion-col >
          edit questions
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
