<ion-header>
  <ion-toolbar>
    <ion-title>GAME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="choices==null">
    <ion-card-header>
      Waiting for other players
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="choices!=null">
    <ion-card-header>
      <ion-card-title>
        Make your choice :
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let choice of choices; let i = index"
        align-items-center
        justify-content-center
        style="display: flex;
        justify-content: center;">
          <ion-col col-4 text-center>
            <ion-button 
            color="success" fill="solid"
            (click)="choose(i)">
              {{choice}}
            </ion-button> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="didWinAPoint!=null"
  style="height: 100%;">
    <ion-card-content [ngStyle]="{'background-color':'green'}"
    *ngIf="didWinAPoint==true"
    style="height: 100%;">
    </ion-card-content>
    <ion-card-content [ngStyle]="{'background-color':'red'}"
    *ngIf="didWinAPoint==false"
    style="height: 100%;">
    </ion-card-content>
  </ion-card>

</ion-content>
