<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="choices==null">
    <ion-card-header>
      Waiting for other players
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="choices!=null">
    <ion-card-header>
      Make your choice :
    </ion-card-header>
    <ion-card-content>
        <ion-button
        *ngFor="let choice of choices; let i = index"
        color="success" fill="solid"
        (click)="choose(i)">
          {{choice}}
        </ion-button>  
    </ion-card-content>
  </ion-card>
</ion-content>
