<ion-header>
  <ion-toolbar>
    <ion-title>
      Question
    </ion-title>
    <div *ngIf="this.authService.hasToken()
    &&!this.authService.hasTokenExpired()" slot="end">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let question of questions">
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  {{question.question}}
                </ion-col>
                <ion-col>
                  {{question.hasChoices}}
                </ion-col>
                <ion-col>
                  choices count
                </ion-col>
                <ion-col>
                  <ion-button color="primary" fill="solid" (click)="editChoices(question.questionId)">Edit choices</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="success" fill="solid" (click)="addQuestion()">New question</ion-button>
</ion-content>
