<ion-header>
  <ion-toolbar>
    <ion-title>
      Question
    </ion-title>
    <div *ngIf="this.authService.hasToken()
    &&!this.authService.hasTokenExpired()" slot="end">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let question of questions">
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  {{question.question}}
                </ion-col>
                <ion-col>
                  <div *ngIf="question.hasChoices == false;then withoutChoices else withChoices"></div>
                  <ng-template #withoutChoices>Choices disabled</ng-template>
                  <ng-template #withChoices>Choices enabled</ng-template>
                </ion-col>
                <ion-col>
                  <div ng-repeat="item in question.choices | filter:query as filtered"></div>
                  {{question.choices.length}} choices
                </ion-col>
                <ion-col>
                  <ion-button color="primary" fill="solid" (click)="editChoices(question.questionId)">Edit choices</ion-button>
                </ion-col>
                <ion-col>
                  <ion-button color="danger" fill="solid" (click)="deleteQuestion(question.questionId)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="success" fill="solid" (click)="addQuestion()">New question</ion-button>
</ion-content>
