<ion-header>
  <ion-toolbar>
    <ion-title>
      CHOICE
    </ion-title>
    <div *ngIf="this.authService.hasToken()
    &&!this.authService.hasTokenExpired()" slot="end">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let choice of choices">
      <ion-card-content>
          <ion-grid>
              <ion-row>
                <ion-col>
                  {{choice.choice}}
                </ion-col>
                <ion-col>
                  <ion-button color="danger" fill="solid" (click)="deleteChoice(choice.choiceId)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                  <ion-button color="primary" fill="solid" (click)="editChoice(choice.choiceId)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-button color="success" fill="solid" (click)="addChoice()">New choice</ion-button>
</ion-content>
