<div mnFullpage>
  <div class="section welcome-section fp-section fp-table" style="background-color: blue;">
    <div class="fp-tableCell">
      <h1 style="text-align: center; font-size: 50ch;">BULK</h1>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table"  style="background-color:crimson;">
    <div class="fp-tableCell">
      <h1 style="text-align: center; font-size: 40ch;">2</h1>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table"  style="background-color:forestgreen;">
    <div class="fp-tableCell">
      <h1 style="text-align: center; font-size: 40ch;">3</h1>
    </div>
  </div>
</div>