.container {
  position: relative;
  text-align: center;
  color: white;
}

.baner {
  max-width:100%;
  height:auto;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'AlphaClouds';
  font-size: 19vw;
  color: white;
}

ion-title {
  font-family: 'AlphaClouds';
}