<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
    <div *ngIf="(!this.authService.hasToken()
                ||this.authService.hasTokenExpired());
                 else loggedIn" slot="end">
      <ion-button color="primary" fill="solid" href="#/signup">
        Signup
      </ion-button>
      <ion-button color="secondary" fill="solid" href="#/login">
        Login
      </ion-button>
    </div>
    <ng-template #loggedIn>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ng-template>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="banner-container">
      <img class="banner" src="assets/pictures/bulk-banner-v3.jpg"/>
      <img class="name" src="assets/pictures/bulk-text.png"/>
    </div>
  </ion-card>

  <ion-card class="game-card">
    <mat-accordion>
      <mat-expansion-panel [expanded]="expandHowToPlay" (click)="HowToPlayExpand()">
        <mat-expansion-panel-header>
          <img class="title-img" src="assets/pictures/sheep-deco.png">
          <ion-label class="card-title">HOW TO PLAY</ion-label>
      </mat-expansion-panel-header>
        <div class="howtoplay">
          You'll have to answer questions.
          <br>
          If you are part of the majority, you earn 1 point.
          <br>
          You can either create your own questions or try those from the community.
          <br>
          Questions are packed into categories.
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>

  <ion-card *ngIf="this.authService.hasToken() &&!this.authService.hasTokenExpired()" class="game-card">
    <mat-accordion>
      <mat-expansion-panel [expanded]="expandHostGame" (click)="HostGameExpand()">
        <mat-expansion-panel-header>
          <img class="title-img" src="assets/pictures/sheep-deco-5.png">
          <ion-label class="card-title">HOST GAME</ion-label>
        </mat-expansion-panel-header>
        <div class="ion-padding">
          <ion-button *ngIf="selectedCategory == null" color="secondary" size="large"
            (click)="selectCategory()" expand="block">Select category</ion-button>
          <ion-item style="margin: auto; width: 100%" *ngIf="selectedCategory != null">
            <ion-label>{{selectedCategoryName}}</ion-label>
            <ion-button color="medium" size="medium" (click)="selectCategory()">Select another category</ion-button>
          </ion-item>
          <div class="ion-padding">
            <ion-button color="secondary" size="large"
            (click)="createSession()" expand="block" [disabled]="selectedCategory == null">Host</ion-button>
          </div>
      </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>

  <ion-card class="game-card">
    <mat-accordion>
      <mat-expansion-panel [expanded]="expandJoinGame" (click)="JoinGameExpand()">
        <mat-expansion-panel-header>
          <img class="title-img-smaller" src="assets/icon/bulk-logo.png">
          <ion-label class="card-title">JOIN GAME</ion-label>
        </mat-expansion-panel-header>
        <div class="ion-padding">
          <form [formGroup]="joinForm">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input *ngIf="!this.authService.hasToken()
            ||this.authService.hasTokenExpired()"
            type="text" formControlName="username"></ion-input>
            <ion-input *ngIf="this.authService.hasToken()
            &&!this.authService.hasTokenExpired()"
            type="text" READONLY
            value="{{this.authService.getLoggedUser().username}}"
            formControlName="usernameLogged"></ion-input>
          </ion-item>
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger p-2">
              <div *ngIf="username.hasError('minlength')">
                Must be at least 3 characters.
              </div>
          </div>
          <ion-item>
            <ion-label position="floating">Room's code</ion-label>
            <ion-input type="text" formControlName="roomsCode"></ion-input>
          </ion-item>
          <div class="ion-padding">
            <ion-button size="large" (click)="joinSession()" expand="block">Join</ion-button>
          </div>
          </form>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-list lines="none" class="footer">
    <ion-list-header>
      <ion-label>Developers</ion-label>
    </ion-list-header>
    <ion-item href="https://github.com/sakalypse/">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Kevin Limacher</ion-label>
    </ion-item>
    <ion-item href="https://github.com/adavid1/">
      <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
      <ion-label>Axel David</ion-label>
    </ion-item>
  </ion-list>
</ion-footer>
